#macro( cuadro $x $y $width $height $id $style )#*
	*#<g id="$id" filter="url(shared/defs.svg#SpecShadow1)">#*
		*#<rect id="contenido" class="contenido-$style" x="$x" y="$y" width="$width" height="$height"/>#*
		*#<rect id="titulo" class="titulo-$style" x="$x" y="$y" width="$width" height="$height"/>#*
	*#</g>
#end
<?xml version="1.0" encoding="UTF-8" standalone="no"?><?xml-stylesheet href="shared/svg_styles.css" type="text/css"?>
<svg 
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:cc="http://creativecommons.org/ns#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:svg="http://www.w3.org/2000/svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	width="1400"
	height="600"
	viewBox="0 0 700 300"
	version="1.1"
	onload='ajustar()'>
	<script type="text/ecmascript" xlink:href="scripts/ajustar.js"/>
	#cuadro( 0, 0, 100, 200, "cuadro", "estilo1" )
</svg>